
body {
  font-family: 'Space Grotesk', sans-serif;
  background-image: linear-gradient(to bottom right, rgb(255, 255, 255), rgb(138, 124, 184));
}

header {
  display: flex;
  justify-content: center;
  width: 100%;
  padding: 15px 0;
  border-bottom: 1px solid black;
}

nav {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  width: 100%;
  max-width: 1200px;
}

main {
  display: flex;
  justify-content: center;
  min-height: 100vh;
}

main section {
  width: 100%;
  max-width: 1200px;
}

.profile-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  margin-top: 50px;
}

.links {
  text-decoration: none;
  font-size: 20px;
  font-weight: bold;
  color: inherit;
}


.elephant-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  border-radius: 5px;
  padding: 20px;
  gap: 15px;
}

.elephant-card, .elephant-profile {
  list-style-type: none;
  background-color: #E9E8EB;
  text-align: center;
  padding: 10px;
  border: 1px solid black;
  border-radius: 5px;
  
}

.elephant-card {
  max-width: 20em;
}


.elephant-profile {
  max-width: 40em;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.card-img {
  width: 250px;
  height: 200px;
  border: 1px solid #000;
  margin: 10px 0;
}

.title {
  text-align: center;
}

.elephant-card:hover {
  cursor: pointer;
}


.profile-img {
  width: 400px;
}


